
/* für test zwecke*/
* {
    border: 0px solid #be2a2a
}

/* seiten name */
.top {
    text-align: center;
}

/* Button css*/
.pseudo {
    background-color: rgba(53, 149, 162, 0.46);
    border-radius: 5px;
    font-size: 22px;
    border: 1px solid #2d2dff;
    margin: 1px;
    height: 45px;
    width: 287.5px;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    color: black;    
}
/* jquery class für buttons oben */
.pseudo2 {
    background-color: rgba(49, 80, 185, 0.46);   
}

/* vorher artikel header des obersten, neuesten artikels*/
.articlesheader {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* titel der artikel-vorschau auf homepage */
.articletitle {
    font-size: 20px;
    margin-top: 7px;
    font-weight: bold;   
}

/* bild der artikel vorschau */
.articlepicpreview {
    border-radius: 5px;
    border: 0px solid red;
}

/* Artikel header für normale artikel*/
.singlearticletitle {
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;         
}

/* artikel vorschau text */
.article {
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;   
}

/* standard artikel text */
.fullarticle {
    margin-top: 5px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif; 
    margin-left: 50px;
    margin-right: 50px;
}

/*Seiten logo*/
.erde {
    background-image: url('../images/erde.png');
    background-repeat: no-repeat;
    height: 145px;
    background-position: center;
    background-color:rgba(1, 3, 5, 0.5) 
}

/* seiten name oben*/
h1 {
    font-family: 'Audiowide', cursive; 
    text-align: center;
}

/* ? */
h3 {
    font-weight: bold;
}

/*bild unterschrift in normalen artikeln*/
.piccaption {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 13px;
    margin-bottom: 20px;
}

/*zentriertes bild*/
.picture {
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;   
}

/* entfernt hover blau + unterstrichen */
.aboutlinks:hover, .aboutlinks:visited, .aboutlinks:link, .aboutlinks:active {
    color: blue;
}

/* style für contact seite */
.myself {
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
}

/* abstand für social media grid auf contact seite */
.socialgrid {
    margin: 20px;  
}

/* social grid positioning */
.left1 {
    position: absolute;
    left: 430px;
}

/* social grid positioning */
.left2 {
    position: absolute;
    left: 430px;
}

/* klasse für klickbare kontaktdaten */
.contactpopup {
    visibility: hidden;
}

/* klasse für klickbare kontaktdaten */
.contactpopuptoggle {
    visibility: visible;
    border: 1px dashed red;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    left: 755px;
    bottom: 140px;
    width: 400px;
    background: #eee;
    border: 1px solid #DDD;
    background: -moz-linear-gradient(top, #EEE, #FFF);    
    background: -webkit-linear-gradient(top, #eee, #fff);
    background: -ms-linear-gradient(top, #eee, #fff);
    background: -o-linear-gradient(top, #eee, #fff);
    box-shadow: 1px 2px 4px rgba(0,0,0, .2);
}

/* ?? */
.überdieseite {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

/*impressum buttons*/
.aha {
    height: 120px;
    width: auto;
    background-color: rgba(134, 126, 109, 0.43);
    margin-top: 5px;
    margin-left: 210px;
    margin-right: 210px;
}

/* impressum boxen */
.impressum {
    font-size: 17px;
    border: 1px solid rgba(134, 126, 109, 0.53);
    border-radius: 5px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
    left: 50px;  
}

/* einzelner button im impressum - position */
.impressumfooter {
    left: 100px;
    top: 40px;   
}

/* einzelner button im impressum - position */
.homefooter {
  left: 200px;
  top: 40px;  
}

/* einzelner button im impressum - position */
.contactfooter {
    left: 300px;
    top: 40px;  
}

/* klasse für impressum button hover */
.imphover {
   background-color: rgba(134, 126, 109, 0.55);
}

/* entfernt blau + unterstrichen bei link-hover*/
.bluelinkremover {
    text-decoration: none;
    color: black;
}

/* entfernt blau + unterstrichen bei link-hover*/
.bluelinkremover:hover, .bluelinkremover:visited, .bluelinkremover:link, .bluelinkremover:active {
    color: black;
    text-decoration: none;
}

/* größen anpassung des bilds im "How to make the best out of 20 seconds outside the house" artikel */
.article2pic {
    width: 500px;
    height: auto;
}
